{% extends "inicio/encabezado.html" %}

<!--Bloque de titulo-->
{% block titulo %} 

    Principal 

{% endblock %}

<!--Bloque de imagen-->
{% block imagenes %}

    {% load static %}
    {% static 'inicio/images/home.png'%}

{% endblock %}

<!--Bloque de texto junto a la imagen-->
{% block texto %}

	<div class="user-info">
		Principal <span>DSM</span>
	</div>

{% endblock %}


<!--Bloque de contenido-->
{% block contenido %}

    <!-- Contenido Principal-->
	 	<div class="page-content">


			<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>Alumnos
				    <small>Lista de Alumnos 9A</small></h3>
				</div>

				
			</div>
			<!-- /Encabezado-->


		</div>
		<!-- /Contenido Principal-->

{% endblock %}