{% extends "inicio/encabezado.html" %}

<!--Bloque de titulo-->
{% block titulo %} 

    Comentarios 

{% endblock %}

<!--Bloque de imagen-->
{% block imagenes %}

    {% load static %}
    {% static 'inicio/images/home.png'%}

{% endblock %}

<!--Bloque de texto junto a la imagen-->
{% block texto %}

	<div class="user-info">
		Principal <span>DSM</span>
	</div>

{% endblock %}

{% block cabeza %} 
	<div class="page-header">
		<div class="page-title">
			<h3>Comentarios
		</div>
	</div>
{% endblock %}


<!--Bloque de contenido-->
{% block contenido %}
			<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
				    <small>Lista de Comentarios</small></h3>
				</div>
			</div>
			<!-- /Encabezado-->

			<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Mensaje</th>
                        <th>Modificar</th>
                        <th>Eliminar</th
                    </tr>
                </thead>
            
                <tbody>
                    {% for comenta in comentarios %}
            
                    <tr>
                        <td>{{comenta.usuario}}</td>
                        <td>{{comenta.mensaje}}</td>
                        <td class="text-center"> <a href="{%url 'Editar' comenta.id%}">Editar</td>
                        <td class="text-center"><a href="{%url 'Eliminar' comenta.id%}">Eliminar</td>
                    </tr>
            
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}

